#post_content

	%h1= @post.title
	%p= @post.content
	%p
		Created by
		%strong= @post.user.username

	#links
		= link_to "Back", root_path
		- if current_user == @post.user		
			|
			= link_to "Edit", edit_post_path(@post)
			| 
			= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure"}