!!!
%html
%head
	%title Forum
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	.container
		%h1 FORUM
		%hr
		.col-sm-12
			- flash.each do |name, msg|
				= content_tag(:div, msg, id: "#{name}")

			= yield 

